<Project>
    <PropertyGroup>
        <SteamLibraryPath>Path\To\SteamLibrary\steamapps</SteamLibraryPath>
        <Sts2Path>$(SteamLibraryPath)\common\Slay the Spire 2</Sts2Path>
        <ModsPath>$(Sts2Path)\mods\</ModsPath>
        <Sts2DataDir>$(Sts2Path)\data_sts2_windows_x86_64</Sts2DataDir>
        <GodotPath>Path\To\MegaDot_v4.5.1-stable_mono_win64.exe</GodotPath>
    </PropertyGroup>
</Project>
